<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="YoutubeAPIDeveloperKey" value="AI39si6L3wKA7ouwyrdCPTQ52u0l5RZou11Q8-LIMthZmXVeMRMzOovHbjnDP4eeBcBpjzGSHaBTCz8ET8DMErWv7XW72LMM1A"/>
    <add key ="Uri" value="http://gdata.youtube.com/feeds/api/users/HibernatingRhinos/uploads"/>
  </appSettings>
</configuration>